@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello, my name is Chip Whiteside.</h1>
    <p>I am working on this site right now, stop by again in a bit and I'm sure I'll have something you'll enjoy.</p>
</div>


@*
    Social links
        LinkedIn
        GitHub

*@