@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Hello, my name is Chip Whiteside.</h1>
    <p>I am working on this site right now, stop by again in a bit and I'm sure I'll have something you'll enjoy.</p>
</div>

@*
    Loading screen 
        Hello in different languages 
        Percentage counter 
        Little messages like 'wait one sec', 'grabbing a coffee, brb', 'almost done', etc

    Hero Section
        Who am I?
            Pic of me
            Full stack dev
        Call to action

    Social links
        LinkedIn
        GitHub

    Ideas
        When hovering over tabs, little dot shows up to say which one you are hovering and the text moves slightly towards mouse when in range

*@